* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
}
#top-bar {
  width: 100%;
  position: fixed;
  height: 3px;
  border: 0 none;
  background: #28b4f7;
  padding: 0px;
  margin: 0px;
}
a {
    color: #5a5a5a;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
}
a:hover {
    color: #6c6c6c;
    text-decoration: none;
}
ul {
  padding: 10px;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
.jumbotron {
  background-color: white;
}
.jumbotron h1 {
  color: #5a5a5a;
  text-decoration: none;
  font-weight: bold;
}
.jumbotron hr {
    width: 30%;
    height: 3px;
    border: 0 none;
    background: #5a5a5a;
    padding-bottom: 0px;
    margin: auto;
    margin-bottom: 20px;

}

.jumbotron img {
  width: 260px;
  height: auto;
  vertical-align: middle;
  border: 10px solid #eee;
  border-radius: 130px;
}
