* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
}
#top-bar {
  width: 100%;
  position: fixed;
  height: 3px;
  border: 0 none;
  background: #28b4f7;
  padding: 0px;
  margin: 0px;
}

/*
--navbar
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
--title
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
--link
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
--caret
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
--mobile version
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
*/

.navbar-default {
  background-color: #eee;
  border-color: #ddd;
}
.navbar a {
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
  color: #5a5a5a;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333;
}
.jumbotron {
  background-color: white;
}
.jumbotron h1 {
  color: #5a5a5a;
  text-decoration: none;
  font-weight: bold;
}
.jumbotron hr {
  width: 30%;
  height: 3px;
  border: 0 none;
  background: #5a5a5a;
  padding-bottom: 0px;
  margin: auto;
  margin-bottom: 20px;
}
.jumbotron img {
  width: 260px;
  height: auto;
  vertical-align: middle;
  border: 10px solid #eee;
  border-radius: 130px;
}
.jumbotron p {
  text-align: left;
}
.fa-stack.fa-2x {
  color: #5a5a5a;
}
.fa-stack:hover .fa-circle {
  color: #28b4f7;
}
@media (max-width: 767px) {
  .navbar li {
    padding-left: 15px;
    text-align: left;
  }
  .jumbotron {
    margin-top: 25px;
  }
}
