* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
}
#top-bar {
  width: 100%;
  position: fixed;
  height: 3px;
  border: 0 none;
  background: #28b4f7;
  padding: 0px;
  margin: 0px;
}
/*
a {
    color: #5a5a5a;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
}
a:hover {
    color: #6c6c6c;
    text-decoration: none;
}
ul {
  padding: 10px;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
*/
/* navbar */
.navbar-default {
    background-color: #eee;
    border-color: #ddd;
}
.navbar a {
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
    color: #5a5a5a;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}




.jumbotron {
  background-color: white;
}
.jumbotron h1 {
  color: #5a5a5a;
  text-decoration: none;
  font-weight: bold;
}
.jumbotron hr {
    width: 30%;
    height: 3px;
    border: 0 none;
    background: #5a5a5a;
    padding-bottom: 0px;
    margin: auto;
    margin-bottom: 20px;
}
.jumbotron img {
  width: 260px;
  height: auto;
  vertical-align: middle;
  border: 10px solid #eee;
  border-radius: 130px;
}
.jumbotron p {
  text-align: left;
}

.fa-stack.fa-2x {
  color: #5a5a5a;
}
.fa-stack:hover .fa-circle {
  color: #28b4f7;
}
