/*--Default--*/

* {
  margin: 0px;
  padding: 0px;
}
html {
  background-color: #fff;
}
body {
  text-align: center;
}


/*--Navbar--*/

.navbar-default {
  background-color: #42a5f5;
  border-color: #42a5f5;
  margin-bottom: 0px;
}
.navbar-default div.navbar-collapse {
  border-top: none;
  box-shadow: none;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #42a5f5;
}
.navbar a {
  font-weight: bold;
  color: #fff;
}
.navbar-default .navbar-brand {
  border-bottom: 2px solid #42a5f5;
}
.navbar-default .navbar-brand:hover ,.navbar-default .navbar-brand:focus {
  border-bottom: 2px solid #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  border-bottom: 2px solid #42a5f5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
}
@media (max-width: 767px) {
  .navbar li {
    padding-left: 15px;
    text-align: left;
  }
}

/*--jumbotron a--*/

.jumbotron a {
  text-decoration: none;
  font-weight: bold;
}

.special-link {
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}

@media (max-width: 767px) {
  .special-link a {
    padding: 1px 4px 1px 4px;
  }
}

/*--Footer--*/

footer hr {
  width: 100%;
  height: 1px;
  border: 0 none;
  background: #ddd;
}
footer {
  background-color: #fff;
  padding-bottom: 100px;
}
.fa-stack.fa-2x {
  color: #5a5a5a;
}
.fa-stack:hover .fa-circle {
  color: #42a5f5;
}
