.jumbotron {
  text-align: left;
  background-color: #42a5f5;
  margin: 0px;
  color: #fff;
}
.jumbotron h1 {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.jumbotron p {
  margin-top: 10px;
  text-align: left;
}
.jumbotron a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
.pannel-image {
  max-width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 4px solid #5a5a5a;
/*
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  */
}
#image3 {
  background-image: url("../images/TicTacToe.png");
}
@media (max-width: 625px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .jumbotron {
    margin-top: 0px;
  }
  .jumbotron p {
    margin-top: 15px;
  }
}
