.jumbotron {
  text-align: left;
  background-color: #42a5f5;
  margin: 0px;
  color: #fff;
}
.jumbotron h1 {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.jumbotron p {
  margin-top: 10px;
  text-align: left;
}
.jumbotron a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
.panel-heading {
  height: 200px;
  background-size: cover;
  background-position: center;
}
#headingOne {
  background-image: url('http://jackychiu.github.io/img/engcomp2015.png');
}
#headingThree {
  background-image: url('../images/TicTacToe.png');
}
.panel-title {
  background-color: #eee;
  padding: 5px 10px 5px 10px;
  border-radius: 1em;
  display: inline-block;
  margin-top: 80px;
}
@media (max-width: 625px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .jumbotron {
    margin-top: 0px;
  }
  .jumbotron p {
    margin-top: 15px;
  }
}
