* {
  margin: 0px;
  padding: 0px;
}
hr {
  width: 100%;
  position: fixed;
  height: 3px;
  border: 0 none;
  background: #28b4f7;
}
header {
  background-size: cover;
  color: white;
}
a {
    color: #5a5a5a;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
}
a:hover {
    color: #6c6c6c;
    text-decoration: none;
}
ul {
  padding: 10px;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
.floatright {
  float: right;
  margin-right: 40px;
}
.floatleft {
  float: left;
  margin-left: 40px;
}
@media (max-width: 500px) {
  li {
    text-align: center;
    display: block;
    padding: 5px;
  }
  .floatright {
    float: center;
    margin: 0;
  }
  .floatleft {
    float: center;
    margin: 0;
  }

}
