      <header>
        <h1>
          <span class="sr-only">Ben Emdon</span>
          <pre class="wordmark" aria-hidden="true">██████  ███████ ███    ██     ███████ ███    ███ ██████   ██████  ███    ██
██   ██ ██      ████   ██     ██      ████  ████ ██   ██ ██    ██ ████   ██
██████  █████   ██ ██  ██     █████   ██ ████ ██ ██   ██ ██    ██ ██ ██  ██
██   ██ ██      ██  ██ ██     ██      ██  ██  ██ ██   ██ ██    ██ ██  ██ ██
██████  ███████ ██   ████     ███████ ██      ██ ██████   ██████  ██   ████</pre>
        </h1>
      </header>

      <p class="tagline">
        Making software development faster and safer at Stripe. Previously GitHub.
      </p>

      {{ partial "divider.html" . }}
